<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Gramophone</title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/soundmanager2.js"></script>
    <script type="text/javascript" src="/gramophone.js"></script>
  </head>
  <body>
    
    <script type="text/javascript">
      soundManager.debugMode = false;
      soundManager.url = '/swf/';
      
      Gramophone.play('Beatles Help');
    </script>
    
  </body>
</html>

