body {
  margin:         0;
  padding:        0;
  background:     #000;
  color:          #444;
  font:           15px/1.5 FreeSans, Helvetica, Arial, sans-serif;
  height:         100%;
}

.ui {
  position:       absolute;
  right:          50px;
  top:            0;
  width:          300px;
}

.header, form, .playlist {
  background:     #fff;
  border-bottom:  4px solid #f80046;
  padding:        16px;
  margin:         0 0 16px;
}

.header {
  background:     #fff url(/gramophone.png) 230px 20px no-repeat;
}

.header h1 {
  font-size:      1em;
  font-weight:    normal;
  margin:         0;
}

.header h1 em {
  display:        block;
  font-size:      2em;
  font-style:     normal;
  font-weight:    bold;
}

form {
  font-size:      0.8em;
}

.playlist ul {
  margin:         0;
  padding:        0;
  list-style:     circle inside;
  font-size:      0.8em;
  height:         300px;
  overflow-y:     scroll;
}

.playlist li {
  margin:         0;
  padding:        0;
  cursor:         pointer;
}

.map {
  position:       absolute;
  left:           0;
  top:            0;
  width:          100%;
  height:         100%;
}

